app/.DS_Store
.vscode/settings.json
.vscode/c_cpp_properties.json
app/build/.DS_Store
app/build/cmake_install.cmake
app/build/CMakeCache.txt
app/build/compile_commands.json
app/build/Makefile
app/build/CMakeFiles/cmake.check_cache
app/build/CMakeFiles/CMakeDirectoryInformation.cmake
app/build/CMakeFiles/CMakeOutput.log
app/build/CMakeFiles/feature_tests.bin
app/build/CMakeFiles/feature_tests.c
app/build/CMakeFiles/feature_tests.cxx
app/build/CMakeFiles/Makefile.cmake
app/build/CMakeFiles/Makefile2
app/build/CMakeFiles/progress.marks
app/build/CMakeFiles/TargetDirectories.txt
app/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
app/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
app/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
app/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
app/build/CMakeFiles/3.10.2/CMakeSystem.cmake
app/build/CMakeFiles/3.10.2/CompilerIdC/a.out
app/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
app/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
app/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
app/build/CMakeFiles/app.dir/build.make
app/build/CMakeFiles/app.dir/cmake_clean.cmake
app/build/CMakeFiles/app.dir/depend.make
app/build/CMakeFiles/app.dir/DependInfo.cmake
app/build/CMakeFiles/app.dir/flags.make
app/build/CMakeFiles/app.dir/link.txt
app/build/CMakeFiles/app.dir/progress.make
app/build/app
app/build/CMakeFiles/app.dir/CXX.includecache
app/build/CMakeFiles/app.dir/depend.internal
app/build/CMakeFiles/app.dir/src/main.cpp.o
app/build/CMakeFiles/app.dir/src/lib/chess_board.cpp.o
app/build/CMakeFiles/app.dir/src/lib/chess_piece.cpp.o
app/build/CMakeFiles/app.dir/src/lib/command.cpp.o
app/build/CMakeFiles/app.dir/src/lib/move_rules.cpp.o
